.profile-menu {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 32px;
  cursor: pointer;

  .user-icon {
    width: 32px;
    height: 32px;
    color: white;
    background: white;
    border-radius: 14px;
    margin-left: 15px;
  }
  .menu-items {
    position: absolute;
    top: 120%;
    width: 100%;
    background-color: #181c20;
    border-radius: 8px;
     > .item {
       padding: 5px 10px;
      color: #fff;
    }
  }
}